@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Comparisons";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Differences between choices.</h2>
</hgroup>

<div class="panel">
    <div class="panel-body">
        <p>

            <a href="http://solr-vs-elasticsearch.com/">ElasticSearch vs SOLR</a>
        </p>

        <p>
            <a href="http://cloudacademy.com/blog/elasticsearch-vs-cloudsearch/">ElasticSearch vs Cloudsearch</a>
        </p>

    </div>
</div>

