@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Search Home";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Examples and more.</h2>
        </hgroup>
        <p>
            Search Proof of Concepts for GunBroker
        </p>
    </div>
</section>
}

